@model List<BookApp.Models.BookViewModel>
@{
    ViewData["Title"] = "Books";
}
<div class="container" id="">
    <div class="tree"><a href="#">Home page</a> >> <a href="#">Books</a></div>
 <h1>BOOKS</h1>
 <ul>
@foreach(var book in Model)
{
<li>
Title: @book.Title <br/>
Author: @book.Author<br/>
Genre: @book.Genre <br/>
Description: @book.Description <br/>
// <img src="@imagePath" alt="image" />

//<img src=@book.Image alt="image"/>
   //<img src="@Model[i].Image" alt="@Model[i].Name id="book-img">
@book.Image <br/>
</li>
<br/>
}
</ul>

 </div>