@model BookApp.Models.BookViewModel
@{
    ViewData["Title"] = "Details";
}

<div class="container" id="">
<div id="tree"><a asp-controller="Home" asp-action="Index">Home page</a> >> <a asp-controller="Books" asp-action="Details">Details</a></div>    
<h1 id="title-details">@Model.Title</h1>
    <div class="component" id="details-container">
        <div class="row">
            <div class="col-md-4 details-left">
                <img id="book_model_image" src="@Model.Image" alt="I see you">
            </div>
            <div class="col-md-7 details-right">
                <h3>Description about the book</h3>
                <div id="book-description">
                    <p>@Model.Description</p>
                </div>
                <h3 id="stars-book">Stars: @for(var i = 0; i < @Model.Rating; i++){<span class="glyphicon glyphicon-star"></span>}</h3>
                <h3 id="h3-author-details-for-book">Author: </h3>
                <p id="author-details-for-book">@Model.Author.Name</p>
                </br>
                <h3 id="h3-author-details-for-book">Genre: </h3>
                <p id="author-details-for-book">@Model.Genre</p>
                </br>
                <h3 id="h3-author-details-for-book">Price: </h3>
                <p id="author-details-for-book">@Model.Price euro</p>
                <br>
                <div id="wishlist-box"><p>Add to wishlist</p><span id="heart-color" class="glyphicon glyphicon-heart icon"></span></div>
                <div id="basket-box"><p>Add to cart</p><span id="cart-color" class="glyphicon glyphicon-shopping-cart icon"></span></div>
                <h3 id="h3-rate">Rate the book!</h3>
                <div id="stars">
                    <span id="1" class="glyphicon glyphicon-star-empty"></span>
                    <span id="2" class="glyphicon glyphicon-star-empty"></span>
                    <span id="3" class="glyphicon glyphicon-star-empty"></span>
                    <span id="4" class="glyphicon glyphicon-star-empty"></span>
                    <span id="5" class="glyphicon glyphicon-star-empty"></span>
                </div>
                <input type="number" style="display:none;" id="rating">
                <div class="form-group">
                    <label for="comment">Comment:</label>
                    <textarea class="form-control" rows="5" id="comment"></textarea>
                </div>
                <button class="btn  btn-default btn-place-order" id="send-rate">Send Review</button>
            </div>
        </div>
        <div class="row comment-row">
            <div class="col-md-12">
                <div class="comments">
                    <h3>Comments from other people</h3>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script  src="~/js/stars.js"></script>
    <script  src="~/js/comment.js"></script>
}