@model BookApp.Models.CartViewModel
@{
    ViewData["Title"] = "Cart";
}
<div id="tree"><a asp-controller="Home" asp-action="Index">Home page</a> >> <a asp-controller="User" asp-action="Cart">Cart</a></div>

<h1 id="cart-title">My Cart<span id="cart-mynd"class="glyphicon glyphicon-shopping-cart icon"></span></h1>
<div class="container">
    <div class="help-container" id="cart">
        <div  class=" sign-container">
            <div class="row">
                <div class=" col-md-6" id="">
                    @foreach(var book in @Model.Cart)
                    {
                        <div class="row component book-cart-row">
                            <div class="col-md-6">
                                <img id="cart-book-img" src="@book.OrderBook.Image" alt="">
                            </div>
                            <div class="col-md-6">
                                <span id="remove-icon" class="glyphicon glyphicon-remove" data="@book.Id"></span>
                                <h2 id="cart-item-title">@book.OrderBook.Title</h2>
                                <h3>Price: @book.OrderBook.Price $</h3>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-md-5 component" id="cart-right">
                    <h1>Total</h1>
                    <h3>Items: @Model.Cart.Count</h3>
                    <h3>Sub total: @Model.Total $</h3>
                    <a asp-controller="User" asp-action="CheckOut"><button class="btn button-default" id="button-cart">Check out</button></a>
                    <p>We accept these payment methods</p>
                    <img src="~/images/visa.svg" alt="VISA" height="40px" width="auto">
                    <img src="~/images/mastercard-2.svg" alt="MASTERCARD" height="40px" width="auto">
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
     <script  src="~/js/cart.js"></script>
}
