@using BookApp.Models;
@model BookApp.Models.UserDetailsViewModel;
@{
    ViewData["Title"] = "Account Information";
}

<div class="container" id="signin-container">
    <div class="row" id="user-details-main-row">
        <div class="component" id="user-details">
            <img src="~/images/user.svg" alt="User Image" width="300px" height="300px" id="userimage">
            <form autocomplete="off">
                <input type="file" id="file1" name="image" accept="image/*" capture style="display:none"/>
                <div class="form-group user-form-input">
                    @{
                        <label asp-for="FirstName">First Name</label>
                        if(@Model != null && @Model.FirstName != ""){
                            <input id="fname" asp-for="FirstName" type="text" name="FirstName" class="form-control" value="@Model.FirstName">
                        }
                        else{
                            <input id="fname" asp-for="FirstName" type="text" name="FirstName" class="form-control" value="">
                        }
                    }
                </div>
                <div class="form-group user-form-input">
                    @{
                        <label asp-for="LastName">Last Name</label>
                        if(@Model != null && @Model.LastName != ""){
                            <input id="lname" asp-for="LastName" type="text" name="LastName" class="form-control" value="@Model.LastName">
                        }
                        else{
                            <input id="lname" asp-for="LastName" type="text" name="LastName" class="form-control" value="">
                        }
                    }
                </div>
                <div class="form-group user-form-input">
                    <label for="Country">Country</label>
                    <select for="Country" name="Country" class="form-control" id="country">
                    @{
                        if(@Model != null && @Model.Country != ""){
<<<<<<< HEAD
                            <!--><input id="country" asp-for="Country" type="text" name="Country" class="form-control" value="@Model.Country"><!-->
                            <select id="country" asp-for="Country" type="text" name="Country" class="form-control" value="@Model.Country">
                                <option>Albania</option>
                                <option>Andorra</option>
                                <option>Armenia</option>
                                <option>Austria</option>
                                <option>Azerbaijan</option>
                                <option>Belarus</option>
                                <option>Belgium</option>
                                <option>Bosnia and Herzegovina</option>
                                <option>Bulgaria</option>
                                <option>Croatia</option>
                                <option>Cyprus</option>
                                <option>Czech Republic</option>
                                <option>Denmark</option>
                                <option>Estonia</option>
                                <option>Finland</option>
                                <option>France</option>
                                <option>Georgia</option>
                                <option>Germany</option>
                                <option>Greece</option>
                                <option>Hungary</option>
                                <option>Iceland</option>
                                <option>Ireland</option>
                                <option>Italy</option>
                                <option>Kazakhstan</option>
                                <option>Kosovo</option>
                                <option>Latvia</option>
                                <option>Liechtenstein</option>
                                <option>Lithuania</option>
                                <option>Luxembourg</option>
                                <option>Macedonia</option>
                                <option>Malta</option>
                                <option>Moldova</option>
                                <option>Monaco</option>
                                <option>Montenegro</option>
                                <option>Netherlands</option>
                                <option>Norway</option>
                                <option>Poland</option>
                                <option>Portugal</option>
                                <option>Romania</option>
                                <option>Russia</option>
                                <option>San Marino</option>
                                <option>Serbia</option>
                                <option>Slovakia</option>
                                <option>Slovenia</option>
                                <option>Spain</option>
                                <option>Sweden</option>
                                <option>Switzerland</option>
                                <option>Turkey</option>
                                <option>Ukraine</option>
                                <option>United Kingdom</option>
                                <option>United State of America</option>
                                <option>Vatican City</option>
                            </select>
                        }
                        else{
                            <select id="country" asp-for="Country" type="text" name="Country" class="form-control" value=""></select>
=======
                            <option>@Model.Country</option>
                        }
                        else{
                            <option>Select A Country</option>
>>>>>>> 060864c049caf02495a3c2ddca486353f55bb48f
                        }
                    }
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                <div class="form-group user-form-input">
                    @{
                        <label asp-for="City">City</label>
                        if(@Model != null && @Model.City != ""){
                            <input id="city" asp-for="City" type="text" name="City" class="form-control" value="@Model.City">
                        }
                        else{
                            <input id="city" asp-for="City" type="text" name="City" class="form-control" value="">
                        }
                    }
                </div>
                <div class="form-group user-form-input">
                    @{
                        <label asp-for="Address">Address</label>
                        if(@Model != null && @Model.City != ""){
                            <input id="address" asp-for="Address" type="text" name="Address" class="form-control" value="@Model.Address">
                        }
                        else{
                            <input id="address" asp-for="Address" type="text" name="Address" class="form-control" value="">
                        }
                    }
                </div>
            </form>
            <button id="save_btn" class="btn btn-default">Save</button>
            <form asp-controller="User" asp-action="SignOut" method="post">
                <button id="sign-out" class="btn btn-default">Sign Out</button>
            </form>
            <div class="break"></div>
        </div>
    </div>
</div>
@section scripts {
     <script  src="~/js/ImageInsert.js"></script>
}