@{
    ViewData["Title"] = "Home Page";
}
@model List<BookApp.Models.BookAuthorViewModel>

<div class="container" id="index-container">
    <div id="tree"><a asp-controller="Home" asp-action="Index">Home page</a> >></div>
    <div class="row" id="index-main-row">
        <div class="col-md-2 left-container component">
            <!-- Það sem fer vinstrameginn fer hér svosem eins og "best sellers" -->
            <ul class="sugestion-list">
                <li class="active">Bestsellers<span class="glyphicon glyphicon-ok"></span></li>
                <li><a asp-controller="Books" asp-action="Books">Books</a></li>
                <li>Authors</li>
                <li>Coming Soon</li>
                <li>Second Hand</li>
                <li>E-Books</li>
            </ul>
        </div>
        <div class="col-md-10">
            <div class="input-container component">
                <div class="input-group">
                    <div class="input-group-btn search-panel">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span id="search_concept">All Genres</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#contains">Drama</a></li>
                            <li><a href="#its_equal">Romance</a></li>
                            <li><a href="#greather_than">Sci-Fi</a></li>
                            <li><a href="#less_than">Action</a></li>
                        </ul>
                    </div>
                    <input type="hidden" name="search_param" value="all" id="search_param">         
                    <input type="text" class="form-control" name="x" placeholder="Search for book by title or author by name...">
                    <span class="input-group-btn search-icon">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </div>
            <div class="book-display component">
                @if(@Model !=null && @Model.Count > 0)
                {
                    <div class="row">
                    @for(var i = 0; i < @Model.Count; i++)
                    {
                        <a asp-controller="Books" asp-action="Details" asp-route-id="@Model[i].Id">
                        <div class="col-md-4 ">
                        <div class="book-div-frontpage">
                            <img class="book-img" src="@Model[i].Image" alt="@Model[i].Name" id="book-img">
                            <h3 class="book-title frontpage-title" id="book-title">@Model[i].Name</h3>
                        </div>
                        </div>
                        </a>
                    }
                    </div>
                }
                else{
                    <h1 id="announcement">No Books To Show...</h1>
                }
            </div>
        </div>
    </div>
</div>