@{
    ViewData["Title"] = "Home Page";
}
@model List<BookApp.Models.BookAuthorViewModel>

<div class="container" id="index-container">
    <div id="tree"><a asp-controller="Home" asp-action="Index">Home page</a> >></div>
    <div class="row" id="index-main-row">
        <div class="col-md-2 left-container component">
            <!-- Það sem fer vinstrameginn fer hér svosem eins og "best sellers" -->
            <ul class="sugestion-list">
                <li class="active" id="active_tag">Bestsellers<span class="glyphicon glyphicon-ok"></span></li>
                <!--<li><a asp-controller="Books" asp-action="Books">Books</a></li>
                <li><a asp-controller="Authors" asp-action="Authors">Authors</a></li>-->
                <li>Books</li>
                <li>Authors</li>
                <li>Coming Soon</li>
                <li>Second Hand</li>
                <li>E-Books</li>
                <li>Classics</li>
            </ul>
        </div>
        <div class="col-md-10">
            <div class="input-container component">
                <div class="input-group">
                    <div class="input-group-btn search-panel">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span id="search_concept">All Genres</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="item">All Genres</a></li>
                            <li><a class="item">Drama</a></li>
                            <li><a class="item">Romance</a></li>
                            <li><a class="item">Sci-Fi</a></li>
                            <li><a class="item">Crime</a></li>
                            <li><a class="item">Action</a></li>
                            <li><a class="item">Fiction</a></li>
                        </ul>
                    </div>
                    <input type="text" id="search_bar" class="form-control" name="x" placeholder="Search for book by title...">
                    <span class="input-group-btn search-icon">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </div>
            <div class="book-display component">
                @if(@Model !=null && @Model.Count > 0)
                {
                    <div class="row" id="main_row">
                    @for(var i = 0; i < @Model.Count; i++)
                    {
                        <a asp-controller="@Model[i].Type" asp-action="Details" asp-route-id="@Model[i].Id">
                        <div class="col-md-4 ">
                        <div class="book-div-frontpage">
                            <img class="book-img" src="@Model[i].Image" alt="@Model[i].Name" id="book-img">
                            <h3 class="book-title frontpage-title" id="book-title">@Model[i].Name</h3>
                            @if(@Model[i].Price != null && @Model[i].Price != 0){
                                <h5 id="stars-book">Stars: @for(var j = 0; j < @Model[i].Rating; j++){<span class="glyphicon glyphicon-star"></span>}</h5>
                                <h5 id="book-price">Price: @Model[i].Price euro</h5>
                            }
                        </div>
                        </div>
                        </a>
                    }
                    </div>
                }
                else{
                    <h1 id="announcement">No Books To Show...</h1>
                }
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script  src="~/js/dropdown.js"></script>
    <script  src="~/js/search.js"></script>
}